<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="JavaScript/default.js"></script>
</head>

<body>
	<div ng-app="myApp"   ng-controller="myCtrl">
		First Name:
		<input type="text" ng-model="firstName">
		<br> Last Name:
		<input type="text" ng-model="lastName">
		<br>Twitter :
		<input type="text" ng-model="twitter">
		<br>
		<br> Contact {{firstName + " " + lastName}} on twitter at {{twitter}} to talk some more about {{askabout()}}
	</div>
</body>
</html>