@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Unauthorized</h2>
            <p>You do not have sufficient rights to perform this action.</p>
        </div>
    </div>
</body>
</html>
