@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This page gets an access token for your Exchange calendar. After you have it, return to the app part to view them.</p>
</div>
