	/* Employee Directory CSS       */

.suiteBar {position: fixed; background-color: black; width: 100%; height: 50px;color: white; text-align: center; line-height: 40px;}

body              { margin: 0px;  }   